################################################################################
#
################################################################################

## Prevent users from uploading dangerous data
dotfiles/*/ssh/
dotfiles/*/gnupg/
dotfiles/*/*/ssh/
dotfiles/*/*/gnupg/
dotfiles/*/*/*/ssh/
dotfiles/*/*/*/gnupg/

## Andy
dotfiles/andy/
config/andy*
