################################################################################
#
################################################################################

## andy
dotfiles/*/ssh
dotfiles/*/gnupg
dotfiles/andy
dotfiles/box
config/andy*
config/box*
