################################################################################
#
################################################################################

## andy
dotfiles/*/ssh/
dotfiles/*/gnupg/
dotfiles/*/*/ssh/
dotfiles/*/*/gnupg/
dotfiles/*/*/*/ssh/
dotfiles/*/*/*/gnupg/
dotfiles/andy/
config/andy*
