################################################################################
#	INCLUDE OTHER CONFIGURATION FILES
################################################################################



################################################################################
#	SYMLINK FILES & DIRECTORIES
# 	---------------------------
#
# WHERE TO PUT THE SYMLINK              	SYMLINKED FILE INSIDE DOTFILES/
# v v v v v v v v v v v v			v v v v v v v v v v v v v v v v
################################################################################

## SYSTEM FILES
~/.bashrc					andy/system/bashrc
~/.config/locale.conf				andy/system/locale.conf
~/.nanorc					andy/system/nanorc
~/.tmux.conf					andy/system/tmux.conf


## SYNTH-SHELL
~/.config/synth-shell/fancy-bash-prompt.sh	andy/system/synth-shell/fancy-bash-prompt.sh
~/.config/synth-shell/status.sh			andy/system/synth-shell/status.sh
~/.config/synth-shell/alias.sh			andy/system/synth-shell/alias.sh
~/.config/synth-shell/better-ls.sh		andy/system/synth-shell/better-ls.sh
~/.config/synth-shell/better-history.sh		andy/system/synth-shell/better-history.sh
~/.config/synth-shell/fancy-bash-prompt.config	box/fancy-bash-prompt.config


