################################################################################
#	INCLUDE OTHER CONFIGURATION FILES
################################################################################



################################################################################
#	SYMLINK FILES & DIRECTORIES
# 	---------------------------
#
# WHERE TO PUT THE SYMLINK			SYMLINKED FILE INSIDE DOTFILES/
# v v v v v v v v v v v v 			v v v v v v v v v v v v v v v v
################################################################################


## SYSTEM FILES
~/.bash_profile					andy/system/bash_profile
~/.bashrc					andy/system/bashrc
~/.config/gtk-3.0/bookmarks			andy/system/bookmarks
~/.config/locale.conf				andy/system/locale.conf
~/.config/user-dirs.dirs			andy/system/user-dirs.dirs
~/.face						andy/system/face
~/.gitconfig					andy/system/gitconfig
~/.gitconfig.local				andy/system/gitconfig.local
~/.nanorc					andy/system/nanorc
~/.tmux.conf					andy/system/tmux.conf



## SYSTEM FOLDERS
~/.local/share/fonts				andy/system/fonts
~/.ssh						andy/system/ssh
~/.gnupg					andy/system/gnupg
~/.config/synth-shell				andy/system/synth-shell



## APP FOLDERS
~/.config/calibre				andy/apps/calibre
~/.config/Gpredict				andy/apps/Gpredict
~/.config/PulseEffects/output			andy/apps/PulseEffects


