################################################################################
#	INCLUDE OTHER CONFIGURATION FILES
################################################################################



################################################################################
#	SYMLINK FILES & DIRECTORIES
# 	---------------------------
#
# WHERE TO PUT THE SYMLINK			SYMLINKED FILE INSIDE DOTFILES/
# v v v v v v v v v v v v 			v v v v v v v v v v v v v v v v
################################################################################


## SYSTEM FILES
~/this-file-is-a-symlink			bob/example-file

